/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "row2col";
        row-gpios = <
            &pro_micro 031 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // Row A
            &pro_micro 029 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // Row B
            &pro_micro 002 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // Row C
            &pro_micro 115 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // Row D
            &pro_micro 113 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // Row E
        >;
	col-gpios = <
	    &pro_micro 020 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 022 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 024 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 100 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 011 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
            &pro_micro 017 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) 
	>;
    };

    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";

        rows = <5>;
        columns = <6>;

        map = <
	     0  1  2  3  4  5
	     6  7  8  9 10 11
	    12 13 14 15 16 17
	    18 19 20 21 22 23
	    24 25 26 27 28 29
	>;
    };
};