/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";

        row-gpios = <
            &pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
        >;

        col-gpios = <
            &pro_micro 3 GPIO_ACTIVE_LOW
        >;
    };
};